{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chess manager">
    <meta name="keywords" content="chess">
    <meta name="author" content="Gustavo Vieira">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body>
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="logo-details">
            <a href={% url 'home' %} class="logo_link">
                <div class="logo_name">LOGO</div>
            </a>
            <i class='bx bx-menu' id="btn" ></i>
        </div>

        <ul class="nav-list">
            <li>
                <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <i class='material-icons'>home</i>
                    <span class='links_name'>Início</span>
                </a>
            </li>
            <li>
                <a href="#" class="disabled" aria-disabled="true" tabindex="-1">
                    <i class='material-icons'>person</i>
                    <span class='links_name'>Página Genérica</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content Section -->
    <section class="home-section">
        {% block 'dashboard' %}{% endblock %}
    </section>
    {% block 'body' %}{% endblock %}

    <!-- Custom JavaScript -->
    <script src="{% static 'general/js/base.js' %}"></script>
</body>
</html>